/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 99;
}

.top-container {
  width: 100%;
  margin: 0 auto;
}

.first-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.input-menu-con {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-container {
  padding: 6px;
  border-radius: 40px;
  cursor: pointer;
  transform: background-color 0.3s;
}


.menu-container:hover {
  background-color: rgb(224, 224, 224);
}



.first-section h3 {
  background-color: rgb(224, 224, 224);
  padding: 10px;
  border-radius: 20px;
}


.second-section {
  background-color: rgb(224, 224, 224);
  padding: 10px;
  margin: 0 auto 15px;
}


/*search style*/



.searchbar-container {
  position: relative;
  width: 300px;
}

.search-input {
  background-image: url('/magnifer.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
  font-size: 15px;
  border: 0;
  background-color: rgb(224, 224, 224);
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  outline: none;
}

#search-input::placeholder {
  padding-left: 20px;
}


.search-results {
  position: absolute;
  top: 42px;
  width: 90%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
}


.search-result-item:hover {
  background: #f0f0f0;
}






@media (max-width: 1200px) {
  .first-section h3 {
    display: none;
  }

  .first-section {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .input-menu-con {
    justify-content: space-between;
    width: 100%;
  }

  .search-input {
    padding: 8px 20px 8px 35px;
    background-size: 20px;
    border-radius: 30px;
    font-size: 16px;
  }

  .second-section {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .second-section {
    font-size: 12px;
  }
}

@media (max-width: 330px) {
  .input-menu-con {
    width: 95%;
  }

  .top-container {
    width: 100vw;
  }

  .search-input {
    font-size: 12px;
    background-size: 16px;
    margin-right: 10px;

  }

  .second-section {
    width: 87%;
    margin: 0px;
  }
}