
.announcement-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.announcement-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;;
}

.announcement-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.tab-button.active {
  background-color: #555555;
  color: white;
}


.announcement-list {
  margin-top: 20px;
}

.announcement-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.announcement-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.announcement-content {
  font-size: 16px;
  color: #333;
}

.no-announcements {
  text-align: center;
  color: #666;
  font-size: 16px;
}


.add-announcement-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
}


.add-announcement-btn:active {
  background-color: #666;
}


.announcement-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-content h3 {
  margin-bottom: 20px;
}

.modal-content form input,
.modal-content form select,
.modal-content form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.modal-content form textarea {
  resize: none;
}

.add-content-form {
  display: flex;
  flex-direction: column;
}

.submit-announcement-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.submit-announcement-btn:active {
  transform: scale(0.95);
}